body {
    color: blue;
    font-size: 20px;
    font-family: Arial;
}
#tag0 {
    font-size: 200%;
    color: darkblue;

}
#tag1 {
    font-size: 180%;
}
#tag2 {
    font-size: 180%;
}
#tag3 {
    font-size: 180%;
}
#tag4 {
    font-size: 180%;
}
