body {
    color: blue;
    font-size: 20px;
    font-family: Arial;
}
#tag0 {
    font-size: 500%;
    color: darkblue;

}
#tag1 {
    color: aqua;
}
#tag2 {
    color: aquamarine;
}
#tag3 {
    color: blueviolet;
}
#tag4 {
    color: cyan;
}
#toplist{
    display: inline;
}